@page
@model IndexModel
@using RPS.Model
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>@Model.Player</p>
        <p>@Model.Computer</p>
        <p>@Model.Round</p>
        <p>@Model.Wins</p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
<div>
    <form method="post">
        <input type="hidden" asp-for="@Model.Round" value="@Model.Round" />
        <input type="hidden" asp-for="@Model.Round" value="@Model.Wins" />
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="@Model.Player" value="@Choice.Rock">
            <label class="form-check-label" asp-for="@Model.Player">
                Kámen
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="@Model.Player" value="@Choice.Scissors">
            <label class="form-check-label" asp-for="@Model.Player">
                Nůžky
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="@Model.Player" value="@Choice.Paper">
            <label class="form-check-label" asp-for="@Model.Player">
                Papír
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Play</button>
    </form>
</div>
